<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <span class='logo'><a href="http://localhost/phpjspoz1/">
                    <img src="{{ webPath }}/images/logo.png"></a></span>

        </div>
        <div class="login-reg">
            {% if userName == true %}
                <a href="./user-panel">{{ userName }}</a>
                <a href="./profile">My cities</a>
            {% else %}
                <a href="./login">Log in</a>
                <a href="./register">Register</a>
            {% endif %}
            <a href="./clipboard">Clipboard</a>
        </div>
                <div class="search">

                    <form method="get" action="{{ webPath}}search">
                        <input id="hidden-input" name="city"  type="text">
                        <input id="not-hidden" type="text" placeholder="City Name">
                        <button type="submit">Search</button>
                        <div class="search-result"></div>

                    </form>

                </div>

            </div>
            <script src="{{ webPath }}js/main.js"></script>
            <script src="{{ webPath }}js/vendor/jquery-3.1.1.min.js"></script>

        </nav>